@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.icon-box {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0; /* Make it invisible initially */
  transition: opacity 0.3s;
  white-space: nowrap; /* Prevent line breaks */
}

.icon-box:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.text-body {
  text-decoration: none;
}